{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  defer src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<script defer src="{% static 'js/trip.js' %}"></script>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if object %}
  <h1>Edit {{object.name}}</h1>
  {% else %}
  <h1>New Trip</h1>
  {% endif %}
</div>
<form action="" method="post" class"form-container" autocomplete="off">
  {% csrf_token %}
  <table>
  {{ form.as_table }}
  </table>
  {% if object %}
  <button type="submit" class="btn submit">Update Trip</button>
  {% else %}
  <button type="submit" class="btn submit">Create Trip</button>
  {% endif %}
  <a href="{% url 'trips_index' %}" class="btn secondary">
    Cancel
  </a>
</form>
{% endblock %}