{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  defer src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/trip-detail.css' %}"
/>
<script defer src="{% static 'js/stop.js' %}"></script>
{% endblock %}

{% block content %}

<section class="trip-container">
   <div class="trip-details">
    <h1>{{ trip.name }}</h1>
    <h2> <a href="{% url 'trips_index' %}"><button class="btn">Back</button></a></h2>
    <h2>{{ trip.start }} to {{ trip.end }}</h2>
    <h3>{{ trip.description }}</h2>
  </div>
  <div class="trip-actions">
    <a href="{% url 'trips_update' trip.id %}" class="btn secondary">Edit</a>
    <a href="{% url 'trips_delete' trip.id %}" class="btn danger">Delete</a>
  </div>
</section>
<br>
<div class="stops-container">
  {% if trip.stop_set.all.count %}
  <section class="stops">
    <h2 class="stops-title">Stops</h2>
    <table>
      <thead>
        <tr><th>Location</th><th>Arrive</th><th>Depart</th><th></th><th></th></tr>
      </thead>
      <tbody class="stops-table">
        {% for stop in trip.stop_set.all %}
        {% if stop.get_position_display == 'Origin' %}
          <tr class="origin">
            <td>{{stop.name}}</td>
            <td>{{stop.arrive}}</td>
            <td>{{stop.depart}}</td>
            <td><a href="{% url 'stops_detail' stop.id %}">Details</a></td>
            <td><a href="{% url 'stops_delete' stop.id %}">Delete</a></td>
          </tr>
        {% elif stop.get_position_display == 'Stop' %}
          <tr class="stop">
            <td>{{stop.name}}</td>
            <td>{{stop.arrive}}</td>
            <td>{{stop.depart}}</td>
            <td><a href="{% url 'stops_detail' stop.id %}">Details</a></td>
            <td><a href="{% url 'stops_delete' stop.id %}">Delete</a></td>
          </tr>
        {% elif stop.get_position_display == 'Destination' %}
          <tr class="destination">
            <td>{{stop.name}}</td>
            <td>{{stop.arrive}}</td>
            <td>{{stop.depart}}</td>
            <td><a href="{% url 'stops_detail' stop.id %}">Details</a></td>
            <td><a href="{% url 'stops_delete' stop.id %}">Delete</a></td>
          </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% else %}
    <section class="stops">There are no stops on this trip</section>
  {% endif %}
  <br>
  <button id="stop-toggle" class="btn">Add Stop</button>
  <section class="add-stops" style="display:none">
  <h2>Add a Stop</h2>
    <form
      action="{% url 'add_stop' trip.id %}"
      method="post" 
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %}
      {{ stop_form.as_p }}
      <button type="submit" class="btn secondary">Add Stop</button>
    </form>
  </section>
</div>
<br>
{% endblock %}