{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/trip-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>My Trips</h1>
</section>

<section class="card-container">
  {% for trip in trips %}
    <div class="card">
      <a href="{% url 'trips_detail' trip.id %}">
        <div class="card-content">
          <h2 class="card-title">{{ trip.name }}</h2>
          <p>{{ trip.start }} to {{ trip.end }} </p>
          <p><small>{{ trip.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}