main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stop-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stop-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stop-details .btn {
  margin-top: 0;
}

.stop-details h2 {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 36px;
}

h3 {
  margin-bottom: 20px;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
.trip-details h2 {
  font-size: 36px;
}
h1 {
  font-size: 60px;
}
table {
  font-size: 24px;
}
td {
  padding: 10px;
}
}