main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stop-details .btn {
  margin-top: 0;
}

.stop-details h2 {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 36px;
}

h2 {
  margin: 5px;
}

h3 {
  margin-bottom: 0;
  font-size: 16px;
}

.card {
  width: 100vw;
  height: 100vh;
  background: rgba(187, 16, 16, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-container {
  display: flex;
}

.stop-table {
  width: 95%;
  min-height: 25%;
}

.stop-table-head {
  font-size: 20px;
}

.stop-table-body {
  font-size: 16px;
}

td {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
.trip-details h2 {
  font-size: 36px;
}
h1 {
  font-size: 60px;
  margin-top: -10px;
}
table {
  font-size: 24px;
}
td {
  padding: 10px;
}

.card {
  width: 600px;
  height: auto;
  margin-top: 40px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  border-radius: 5px;
  padding: 15px
}

.stop-table {
  width: 80%;
  min-height: 100px;
  margin: 5px 0 15px;
}

.stop-table td {
  font-size: 18px;
}
}