.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  background: rgba(187, 16, 16, 0.2);
  border-radius: 5px;
}

.card-content {
  padding: 10px;
  width: 100%;
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.notrips {
  text-align: center;
}