{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  defer src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/trip-detail.css' %}"
/>
<script defer src="{% static 'js/toggle.js' %}"></script>
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}

<p>{{stop.name}}</p>
<p>{{stop.arrive}}</p>
<p>{{stop.depart}}</p>
<p>{{stop.get_position_display}}</p>
<p>{{stop.lodging}}</p>
<p>{{stop.food}}</p>
<p>{{stop.todos}}</p>
<p><a href="{% url 'stops_delete' stop.id %}" class="btn warn">Delete</a></p>
<p><a href="{% url 'stops_update' stop.id %}" class="btn warn">Edit</a></p>


{% endblock %}